figcaption {
  font-weight: bold;
  margin-bottom: 20px;
}

#projectsDiv {
  width: 100%;
  height: 390px;
  padding-left: 8px;
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  #columnChartDiv {
    padding-left: 80px;
  }
}
/*
#themesSvg {
padding-top: 100px;
}
*/
