body {
  padding-top: 5rem;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.body-spaced {
  height: 80%;
}

.container-fluid {
  margin-top: 60px;
}

.main-container {
  padding: 1.5rem 1.5rem;
  text-align: center;
}

.left {
  text-align: left;
}

.buttonsTableDiv {
  margin-top: 10px;
  margin-bottom: 25px;
}
